ClienteWCF/Connected Services/ServicioEscuela/Service12.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/ServicioWCF" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/ServicioWCF" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Alumno">
    <xs:sequence>
      <xs:element minOccurs="0" name="ApellidoM" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ApellidoP" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Carrera" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Nombre" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Alumno" nillable="true" type="tns:Alumno" />
  <xs:complexType name="Semestre">
    <xs:sequence>
      <xs:element minOccurs="0" name="Carrera" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NumAlumnos" type="xs:int" />
      <xs:element minOccurs="0" name="Turno" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Semestre" nillable="true" type="tns:Semestre" />
  <xs:complexType name="Turno">
    <xs:sequence>
      <xs:element minOccurs="0" name="HoraF" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="HoraI" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NumAlumnos" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Turno" nillable="true" type="tns:Turno" />
  <xs:complexType name="Calculadora">
    <xs:sequence>
      <xs:element minOccurs="0" name="Operacion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Resultado" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Calculadora" nillable="true" type="tns:Calculadora" />
  <xs:complexType name="Educacion">
    <xs:sequence>
      <xs:element minOccurs="0" name="AñosRestantes" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Edad" type="xs:int" />
      <xs:element minOccurs="0" name="NivelAcadem" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Educacion" nillable="true" type="tns:Educacion" />
</xs:schema>