ClienteWCF/Connected Services/ServicioEscuela/Service1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Service1" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:56689/Service1.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:56689/Service1.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:56689/Service1.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/ServicioWCF" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IService1_ObtenerAlumno_InputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerAlumno" />
  </wsdl:message>
  <wsdl:message name="IService1_ObtenerAlumno_OutputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerAlumnoResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_NumeroAlumnos_InputMessage">
    <wsdl:part name="parameters" element="tns:NumeroAlumnos" />
  </wsdl:message>
  <wsdl:message name="IService1_NumeroAlumnos_OutputMessage">
    <wsdl:part name="parameters" element="tns:NumeroAlumnosResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_ObtenerHorario_InputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerHorario" />
  </wsdl:message>
  <wsdl:message name="IService1_ObtenerHorario_OutputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerHorarioResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_BasicCalculadora_InputMessage">
    <wsdl:part name="parameters" element="tns:BasicCalculadora" />
  </wsdl:message>
  <wsdl:message name="IService1_BasicCalculadora_OutputMessage">
    <wsdl:part name="parameters" element="tns:BasicCalculadoraResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_NivelAcademico_InputMessage">
    <wsdl:part name="parameters" element="tns:NivelAcademico" />
  </wsdl:message>
  <wsdl:message name="IService1_NivelAcademico_OutputMessage">
    <wsdl:part name="parameters" element="tns:NivelAcademicoResponse" />
  </wsdl:message>
  <wsdl:portType name="IService1">
    <wsdl:operation name="ObtenerAlumno">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/ObtenerAlumno" message="tns:IService1_ObtenerAlumno_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/ObtenerAlumnoResponse" message="tns:IService1_ObtenerAlumno_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="NumeroAlumnos">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/NumeroAlumnos" message="tns:IService1_NumeroAlumnos_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/NumeroAlumnosResponse" message="tns:IService1_NumeroAlumnos_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ObtenerHorario">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/ObtenerHorario" message="tns:IService1_ObtenerHorario_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/ObtenerHorarioResponse" message="tns:IService1_ObtenerHorario_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="BasicCalculadora">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/BasicCalculadora" message="tns:IService1_BasicCalculadora_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/BasicCalculadoraResponse" message="tns:IService1_BasicCalculadora_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="NivelAcademico">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/NivelAcademico" message="tns:IService1_NivelAcademico_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/NivelAcademicoResponse" message="tns:IService1_NivelAcademico_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IService1" type="tns:IService1">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ObtenerAlumno">
      <soap:operation soapAction="http://tempuri.org/IService1/ObtenerAlumno" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="NumeroAlumnos">
      <soap:operation soapAction="http://tempuri.org/IService1/NumeroAlumnos" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenerHorario">
      <soap:operation soapAction="http://tempuri.org/IService1/ObtenerHorario" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BasicCalculadora">
      <soap:operation soapAction="http://tempuri.org/IService1/BasicCalculadora" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="NivelAcademico">
      <soap:operation soapAction="http://tempuri.org/IService1/NivelAcademico" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service1">
    <wsdl:port name="BasicHttpBinding_IService1" binding="tns:BasicHttpBinding_IService1">
      <soap:address location="http://localhost:56689/Service1.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>